@charset "UTF-8";

//--IMPORTS--//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
  font-family: 'CAKometo';
  src: url(fonts/CAKometo-Regular.otf) format('opentype');
}

//--ROOT--//
:root {
  //Palette (Apenas p/ salvar)
  --color-01: #020202;
  --color-02: #181D22;
  --color-03: #374047;
  --color-04: #4B6B78;
  --color-05: #6B0C1C;
  --color-07: #EDF6F5;
  --color-08: #9FB8BF;
  --color-09: #D92639;
}

//--HEADER--//
.header {
  width: 100%;
}
.header > h1 {
  text-align: center;
  font-family: 'CAKometo', sans-serif;
  background-color: #D92639;
  color: #181D22;
  font-weight: bolder;
  font-size: 5em;
  padding: 25px;
  text-shadow: 0px 0px 2px #181d226e;
}
.header > p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: 700;
  background-color: #181D22;
  color: #EDF6F5;
  margin-top: -21px;
  padding: 10px;
}

//--formField--//
.formField {
  display: flex;
  justify-content: center;
  background-color: #374047fa;
  margin-top: -15px;
  padding: 20px;
}
.label {
  font-size: 1.5em;
  padding-top: 50px;
  color: #cdcdcd;
  font-family: 'Poppins', sans-serif;
}
.label > img {
  padding-left: 5px;
}
.label > img:hover {
  cursor: pointer;
}
.input {
  margin: 10px;
  margin-top: 10px;
  color: #D92639;
  font-size: larger;
  font-weight: 500;
}
.option:hover {
  background-color: #9FB8BF;
}
@media (max-width: 600px) {
  .header > h1 {
    font-size: 3em;
  }
}
