<header class="header">
  <h1>My Hero Marvel</h1>
  <p>Procure informações sobre seu herói favorito da Marvel</p>

    <mat-form-field class="formField">
      <mat-label class="label">
        encontrar herói
      </mat-label>
      <input matInput type="text" [matAutocomplete]="auto" [formControl]="control" class="input">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="">
        <mat-option *ngFor="let heroe of filHeroes | async " [value]="heroe" class="option">
          {{ heroe }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</header>
