<header class="header">
  <h1>My Hero Marvel</h1>
  <p>Procure informações sobre seu herói favorito da Marvel</p>

    <mat-form-field class="formField">
      <mat-label class="label">
        Pesquisar Herói
      </mat-label>
      <input  matInput type="text" [matAutocomplete]="auto" class="input">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="">
        <mat-option *ngFor="let hero of marvel " [value]="hero.name" class="option" (click)="selected(hero)">
          {{ hero.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</header>
