@charset "UTF-8";

//--IMPORTS--//
@font-face {
  font-family: 'Marvel';
  src: url(../my-hero/fonts/Marvel.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

//--ROOT--//
:root {
  //Palette (Apenas p/ salvar)
  --color-01: #020202;
  --color-02: #181D22;
  --color-03: #374047;
  --color-04: #4B6B78;
  --color-05: #6B0C1C;
  --color-07: #EDF6F5;
  --color-08: #9FB8BF;
  --color-09: #D92639;
}

//--MAIN--//
.main {
  width: auto;
  height: 100%;
  margin: auto;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #181D22;
  background-image: url(images/4799158.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main::-webkit-scrollbar {
  display: none;
}

.heroDetails h2 {
  margin-bottom: -12px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  text-align: center;
  color: #4B6B78;
  background-color: #181D22;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Marvel', sans-serif;
}

.heroDetails img {
  width: 350px;
  height: 350px;
  margin-bottom: 60px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #374047;
}
.heroDetails img:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: perspective(15cm) rotateX(-2deg) rotateY(5deg);
  box-shadow: 0px 0px 10px #6B0C1C;
}

@media (max-width: 600px) {
  .heroDetails img {
    width: 250px;
    height: 250px;
  }
  .heroDetails h2 {
    width: 232px;
  }
}