<app-header></app-header>

<main class="main">
  <section class="
  heroDetails">
  <p>
    <img (click)="showDetails()" src="https://img.icons8.com/windows/64/000000/searchengin.png"/>
  </p>
  </section>
  <h1>{{ heroName }}</h1>
  <section *ngIf="showHero" class="heroNemAndImg">
    <p><img src="{{ heroImg}}" alt=""></p>
    <p>{{ heroDescription }}</p>
  </section>
  <section *ngIf="showHero" class="heroSeriesAnd">
    <h2 *ngIf="showHero">SERIES</h2>
    <div *ngFor="let item of heroSeries">
      {{ item }}
    </div>
    <h2 *ngIf="showHero">HISTÓRIAS</h2>
    <div *ngFor="let item of heroStories">
      {{ item }}
    </div>
  </section>
</main>

<app-footer></app-footer>
