@charset "UTF-8";

//--IMPORTS--//
@font-face {
  font-family: 'Marvel';
  src: url(fonts/Marvel.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

//--ROOT--//
:root {
  //Palette (Apenas p/ salvar)
  --color-01: #020202;
  --color-02: #181D22;
  --color-03: #374047;
  --color-04: #4B6B78;
  --color-05: #6B0C1C;
  --color-07: #EDF6F5;
  --color-08: #9FB8BF;
  --color-09: #D92639;
}

//--MAIN--//
.main {
  width: 100%;
  height: 100%;
  background-image: url(images/4799158.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main>h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #6B0C1C;
  background-color: #181D22;
  font-family: 'Marvel', sans-serif;
  padding: 10px;
  text-align: center;
}

.main p {
  color: #EDF6F5;
  font-family: 'Poppins', sans-serif;
}

.heroDetails {
  position: relative;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  color: #9FB8BF;
}

.img {
  background-color: #3B444B;
  padding: 20px;
  margin-top: -55px;
}

.heroDetails p>img {
  margin-top: -40px;
}

.heroDetails p>img:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(10deg);
}

.heroNemAndImg {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.heroNemAndImg p>img {
  width: 500px;
  margin: auto;
  margin-top: -14px;
}

.heroSeriesAnd {
  display: flex;
  flex-direction: column;
  background-color: #181D22;
  overflow-y: auto;
  gap: 10px;
  width: 100%;
  height: 300px;
  margin: auto;
}

.textInfos {
  color: #EDF6F5;
  text-align: justify;
  text-align: center;
  padding: 20px;
  text-indent: 10px;
  line-height: 20px;
}

.heroSeriesAnd::-webkit-scrollbar {
  display: none;
}

.heroSeriesAnd>h2 {
  background-color: #374047;
  font-size: 2.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #4B6B78;
  font-family: 'Marvel', sans-serif;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .heroNemAndImg p>img {
    width: 350px;
  }
}