<main class="main">
  <img (click)="return()" id="return" src="https://img.icons8.com/stickers/100/000000/return.png" />
  <section *ngFor="let heroe of heroeDetail">
    <h2 class="name">{{ heroe.name }}</h2>
    <div class="sectionInfo">
      <img id="imgHero" src="{{ heroe.img + '.' + heroe.extension }}" alt="{{ heroe.name + '.' + heroe.extension }}">
    </div>
    <div class="infos">
      <h2>SOBRE</h2>
      <p class="description">{{ heroe.description }}</p>
      <h2>Séries</h2>
      <p class="description">{{ heroe.series }}</p>
      <h2>Histórias</h2>
      <p class="description">{{ heroe.stories }}</p>
    </div>
  </section>
</main>
<app-footer></app-footer>